{
    "trailingComma": "es5",
    "tabWidth": 2,
    "printWidth": 90,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "useTabs": false,
    "jsxSingleQuote": false,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "always",
    "plugins": ["prettier-plugin-jsdoc"]
}
